@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap");



body {
    margin: auto;
    width: 100vw;
    height: 100vh;
    background-color:blueviolet;
    display: grid;
           
    place-items: center;

    /*position: absolute; */

    padding: 70px 0;
    border: 3px solid green;
    
    /*text-align: center;*/ 
    
}
